.main-section{
    display: flex;
    flex-direction: column;
}
.product {
    width: 400px;
    padding: 10px;
    border: solid 3px;
    text-align: center;
    border-radius: 10px;
    background: gray;
    margin: 10px;
    
}

.product > img {
    width: 300px;
    margin: 20px;
    column-fill: auto;
}

.product > p {
    margin: 0;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}
p:first-of-type {
    font-size: 2em;
    margin-bottom: 10px;
}
p:nth-child(2) {
    margin-bottom: 60px;
}


.list {
    display:flex;
    flex-flow: row;
}